* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxhome {
    max-width: 2000px;
    margin: 0%;

}

nav {
    padding: 1rem;
    background-color: #333;

}

.nav-box {
    display: flex;
    justify-content: space-between;

}

.logo1 {
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    font-family: jedxfont;

}

.logo2 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: jedxfont;
}


.Menu {
    display: flex;
    list-style: none;
    align-items: center;

}

.Menu li {
    margin: 0 1rem;
    font-family: unset;
}

.Menu li a {
    color: white;
    text-decoration: none;
    font-size: larger;

    transition: color 0.3s, transform 0.5s;
}

.Menu li a:hover {
    color: red;
}

.a-img {
    text-align: center;
    padding-top: 2rem;



}

.texta h1 {
    font-family: jedxfont;
    text-align: center;
    margin: 0;
    font-size: 100px;

}

.texta p {
    font-family: jedxfont;
    text-align: center;
    font-size: 30px;

}

.texts h1 {
    font-family: jedxfont;
    margin: 0;
    font-size: 40px;
    padding-top: 2rem;
    padding-left: 2rem;
}

.texts h2 {
    font-family: jedxfont;
    margin: 0;
    font-size: px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(247, 231, 242);
}

.texts p {
    font-family: jedxfont;
    margin: 0;
    font-size: 20px;

    padding-left: 2rem;
}

.body {
    font-family: jedxfont;
}

.Master {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.Master p {
    font-size: 20px;
    font-family: jedxfont;
}

.y4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10rem;

}

.y4 p {
    font-size: 20px;
    font-family: jedxfont;
}

.y3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10rem;
}

.y3 p {
    font-size: 20px;
    font-family: jedxfont;
}

.y2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10rem;
}

.y2 p {
    font-size: 20px;
    font-family: jedxfont;
}

.y1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10rem;
}

.y1 p {
    font-size: 20px;
    font-family: jedxfont;
}



.divider {
    height: 3px;
    background: linear-gradient(to right, transparent, #333, transparent);
    width: 100%;
    margin: 0;
}

.dividere {
    height: 3px;
    background: linear-gradient(to right, transparent, #ff0000, transparent);
    width: 100%;
    margin: 0;
}